<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <p class="navbar-brand" href="#">
      <img src="../../assets/images/pawhub-logo-brown-2.png" width="240" />
    </p>
    <ul class="navbar-nav gap-3">
      <li class="nav-item">
        <span
          id="nav-home"
          role="button"
          class="nav-link fs-5"
          data-page="home.html"
          data-title="PawHub | Home"
        >
          Home
        </span>
      </li>
      <li class="nav-item">
        <span
          id="nav-about-us"
          role="button"
          class="nav-link fs-5"
          data-page="about-us.html"
          data-title="PawHub | About Us"
        >
          About Us
        </span>
      </li>
      <li class="nav-item">
        <span
          id="nav-services"
          role="button"
          class="nav-link fs-5"
          data-page="services.html"
          data-title="PawHub | Services"
        >
          Services
        </span>
      </li>
      <li class="nav-item">
        <span
          id="nav-gallery"
          role="button"
          class="nav-link fs-5"
          data-page="gallery.html"
          data-title="PawHub | Gallery"
        >
          Gallery
        </span>
      </li>
      <li class="nav-item">
        <span
          id="nav-contact-us"
          role="button"
          class="nav-link fs-5"
          data-page="contact-us.html"
          data-title="PawHub | Contact Us"
        >
          Contact Us
        </span>
      </li>
      <div class="navbar-nav ps-4">
        <button type="button" class="btn btn-ghost fs-5">Login</button>
        <button
          type="button"
          class="btn btn-pawhub bg-pawhub-primary text-white fs-5 rounded-5"
        >
          Lets donate
        </button>
      </div>
    </ul>
  </div>
</nav>
