<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"
      ><img src="../../public/assets/pawhub-logo-brown-2.png" width="240"
    /></a>
    <ul class="navbar-nav gap-3 mb-2 mb-lg-0">
      <li class="nav-item">
        <a id="nav-home" class="nav-link fs-5" aria-current="page" href="/"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a id="nav-about" class="nav-link fs-5" href="../../about-us.html"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a id="nav-services" class="nav-link fs-5" href="../../services.html"
          >Services</a
        >
      </li>
      <li class="nav-item">
        <a id="nav-gallery" class="nav-link fs-5" href="../../gallery.html"
          >Gallery</a
        >
      </li>
      <li class="nav-item">
        <a id="nav-contact" class="nav-link fs-5" href="../../contact-us.html"
          >Contact Us</a
        >
      </li>
      <div class="navbar-nav ps-4">
        <button type="button" class="btn btn-ghost fs-5">Login</button>
        <button type="button" class="btn bg-pawhub-primary text-white fs-5">
          Lets donate
        </button>
      </div>
    </ul>
  </div>
</nav>
