*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #fcf8f3;
  margin: 40px;
}

/* custom font */
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/MabryPro-Regular.ttf");
}

.bg-pawhub-primary {
  background-color: #584d51;
}

.active {
  color: orange !important;
}
